:root {
  --background: #f4f1e9; 
  --text: #333333;
  --title-color: #555555; 
  --box-color: #e7dfd5; 

  --secondary-color: #e44d26; 
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: var(--primary-color);
}

.item {
  border: 1px solid var(--box-color);
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: 300px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease;
  background-color: var(--box-color);
}

.item:hover {
  transform: scale(1.1);
  background-color: var(--secondary-color);
}

.item img {
  max-width: 100%;
  max-height: 400px;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.item:hover img {
  transform: scale(1.0);
}

#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

#night-mode-toggle,
#addItemBtn,
#submitBtn {
  margin: 10px;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
}

#addItemForm {
  display: none;
  margin: 20px;
  padding: 20px;
  border: 1px solid var(--box-color);
  border-radius: 8px;
}

#message {
  margin-top: 10px;
  color: var(--secondary-color);
}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 1;
}

.character-images-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.character-images-container img {
  max-width: 100%;
  max-height: 200px;
  margin: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}
.character-list:hover {
  cursor: pointer;
  text-decoration: underline; 
}



#addItemForm {
  display: none;
}
